#user {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  .img {
    width: 35px;
    margin: 0 1%;
    img {
      width: 100%;
    }
  }
  .title {
    display: flex;
    flex: 1;
    font-weight: 400;
    font-size: 20px;
  }
  button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: black;
    cursor: pointer;
    span {
      font-size: 13px;
      font-weight: 600;
      color: #3d3d3d;
    }
    span:first-child {
      display: inline-block;
      color: white;
      width: 15px;
      background-color: #00897b;
      border-radius: 50%;
      padding: 10px;
      font-weight: 700;
      margin-right: 10px;
      font-size: 12px;
    }
  }
}
.inforUser {
  text-align: center;
  .letter {
    background-color: #00897b;
    width: 37px;
    margin: auto;
    border-radius: 52px;
    font-size: 23px;
    color: white;
    font-weight: 600;
    padding: 10px;
  }
  .name {
    font-size: 17px;
    font-weight: 700;
    color: #008983;
  }
  .subname {
    background-color: #cec2e8;
    margin: 0 17%;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    padding: 3px 0;
  }
  .switch {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
  }
  .left {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
  .right {
    color: #ff5454;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
}
.ant-popover-inner {
  width: 260px;
  padding: 20px !important;
}
#container {
  // .ant-col.content.css-dev-only-do-not-override-190m0jy {
  //   background-color: bisque;
  //   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  //   margin-right: 36px;
  // }
  .ant-col.sidebar.css-dev-only-do-not-override-190m0jy {
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.2);
  }
  .ant-col.sidebar.css-dev-only-do-not-override-190m0jy {
    min-width: 17%;
  }
  div#content {
    max-width: 78%;
  }
  .sidebar {

    .listItem {
      .item {
        display: flex;
        margin: 5px;
        padding: 8px;
        color: #343a40;
        span.anticon.anticon-appstore {
          width: 22px;
          height: 22px;
        }
        p {
          margin: 0;
          margin-left: 6%;
          font-weight: 500;
        }
        .left {
          display: flex;
          flex: 1;
        }
      }
      .item.active {
        background-color: #f2f6f9;
      }
      .sub {
        margin-left: 7%;
      }
    }
  }
  :where(.css-dev-only-do-not-override-190m0jy).ant-row {
    flex-flow: nowrap;
  }
  .body2 :where(.css-dev-only-do-not-override-190m0jy).ant-row {
    flex-flow: wrap;

  }
}
.table th.ant-table-cell {
  padding: 17px 12px !important;
}
#content {
  margin: 0 33px;
  .top {
    display: flex;
    align-items: center;
    p {
      font-size: 20px;
      font-weight: 700;
      margin-left: 8px;
    }
    svg {
      color: #da2a1c;
      background-color: #b0dac5;
      padding: 5px;
      border-radius: 50px;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
  }
  .search {
    width: 50%;
    span.ant-input-affix-wrapper.css-dev-only-do-not-override-190m0jy {
      padding: 7px;
    }
    :where(.css-dev-only-do-not-override-190m0jy).ant-input-affix-wrapper:not(
        .ant-input-affix-wrapper-disabled
      ):focus-within {
      border-color: red;
      border-inline-end-width: 1px;
      z-index: 1;
    }
    input.ant-input.css-dev-only-do-not-override-190m0jy {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .table {
    :where(.css-dev-only-do-not-override-190m0jy) a {
      color: black;
    }
    tbody.ant-table-tbody {
      font-weight: 600;
    }
    td.ant-table-cell {
      padding: 5px !important;
    }
  }
}
.footer {
  display: flex;
  margin: 30px 0;
  li.ant-pagination-item {
    border: 1px solid #e0e0e0;
    border-radius: 0;
  }
  li.ant-pagination-total-text {
    flex: 1;
  }
  li.ant-pagination-options {
    flex: 1;
    text-align: end;
  }
}
.footer .ant-select.css-dev-only-do-not-override-190m0jy.ant-select-single.ant-select-show-arrow.ant-select-show-search
{
  display: inline-block;
}

:where(.css-dev-only-do-not-override-190m0jy).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  border: none;
  background-color: #da2a1c;
  border-radius: 0;
  a {
    color: white !important;
  }
}
.action >svg {
  cursor: pointer;
}
.topAdd >svg {
  cursor: pointer;
}
.wrapForm .left span {
  color: red;
}

@media only screen and (max-width: 650px) {
  #user {
    .title {
      display: none;
      font-size: 9px;
    }
  }
  #container :where(.css-dev-only-do-not-override-190m0jy).ant-row {
    flex-flow: wrap;
  }
  #container .ant-col.sidebar.css-dev-only-do-not-override-190m0jy {
    flex: auto;
  }




  #login #container .form {
    padding: 0;
  }
  .ant-col.sidebar.css-dev-only-do-not-override-190m0jy {
    display: none;
}
#container div#content {
  max-width: 100%;
}
#content {
  margin: 0;
}
div#content {
  padding: 10px;
}
.table th.ant-table-cell {
  padding: 0 !important;
}
#container #contentAdd .formAdd1 .right {
  width: 300px;
  display: none;
}
#container #contentAdd .formAdd2 .body2 {
  display: block !important;
}
#container #contentAdd .formAdd3 .body3 {
  display: block !important;
}
.footer {
  justify-content: center;
}
.footer li.ant-pagination-total-text {
  display: none;
}

}



@media only screen and (min-width: 651px ) and (max-width: 1024px) {
  #container #contentAdd .formAdd1 .right {
    display: none ;
  }
  #container #contentAdd .formAdd2 .body2 {
    grid-template-columns: 1fr 1fr ;
  }
  #container #contentAdd .formAdd3 .body3 {
    display: block ;
}
#container div#content {
  max-width: 100%;
}
#content {
  margin: 0;
}
div#container {
  padding: 16px;
}
#user .title {
  font-size: 16px;
}

}